@model UsuarioModel
@{
    ViewData["Title"] = "Editar usuario";
}

<div class="text-center">
    <h2>Editar usuario</h2>
</div>

    <form asp-controller="CadastroUsuario" asp-action="Editar" method="post">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" asp-for="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" asp-for="senha" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Editar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
    </form>