@model InstituicaoModel
@{
    ViewData["Title"] = "Cadastro de Instituição";
}

<div class="log-form">
    <h2>Cadastro de instituições de banco de sangue</h2>
    <form asp-controller="Instituicao" asp-action="Cadastrar" method="post">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nome da instituição</label>
                <input type="text" asp-for="nome" class="form-control" id="formGroupExampleInput" placeholder="Nome da instituição">
            </div>


            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Cidade</label>
                <input type="text" asp-for="cidade" class="form-control" id="formGroupExampleInput2" placeholder="Cidade">
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Endereço da instituição</label>
                <input type="text" asp-for="endereco" class="form-control" id="formGroupExampleInput2" placeholder="Endereço">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Telefone da instituição</label>
                <input type="text" asp-for="telefone" class="form-control" id="formGroupExampleInput2" placeholder="Telefone">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            <a class="btn btn-secondary btn-block" asp-controller="Login" asp-action="ListaDeUsuarios" role="button">Voltar</a>
     </form>
</div>