@model InstituicaoModel
@{
    ViewData["Title"] = "Cadastro de Instituição";
}


<section class="pt-3 pt-md-5 pb-md-5 pt-lg-8 bg-gray-200">
    <div class="container">
        <div class="row">
            <!--MENU LATERAL-->
            @if (ViewBag.perfil == "ADMIN")
            {
                <div class="col-lg-3 mb-lg-0 mb-5 mt-8 mt-md-5 mt-lg-0">
                    <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/Formulario/lista">
                                <i class="material-icons text-dark opacity-5 pe-2">widgets</i>
                                Formulários
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/Login/ListaDeUsuarios">
                                <i class="material-icons text-dark opacity-5 pe-2">cookie</i>
                                Usuários
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/Instituicao/ListaDeInstituicao">
                                <i class="material-icons text-dark opacity-5 pe-2">description</i>
                                Instituições
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/CadastroUsuario/Perfil">
                                <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                                Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/login">
                                <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="col-lg-3 mb-lg-0 mb-5 mt-8 mt-md-5 mt-lg-0">
                    <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-10 shadow-lg">
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/formulario">
                                <i class="material-icons text-dark opacity-5 pe-2">widgets</i>
                                Formulário do Doador
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/CadastroUsuario/Perfil">
                                <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                                Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark d-flex align-items-center" data-scroll="" href="/login">
                                <i class="material-icons text-dark opacity-5 pe-2">insert_link</i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            }

            <!--TELA EDICAO INSTITUIÇÃO -->
            <div class="col-lg-9">
                <div class="card shadow-lg mb-5">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                            <h3 class="text-white mb-0">Edição da Instituição</h3>
                            <p class="text-white opacity-8 mb-0">Não esqueça de colocar o endereço!</p>
                        </div>
                    </div>
                    <div class="card-body p-5">
                        @if (Model.erro != null)
                        {
                            <div class="alert alert-danger text-black text-center text-bolder">@Model.erro</div>
                        }

                        <form asp-controller="Instituicao" asp-action="Editar" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-static">
                                        <label>Nome</label>
                                        <input class="form-control" type="text" asp-for="nome">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group input-group-static">
                                        <label>Telefone</label>
                                        <input class="form-control" type="tel" asp-for="telefone">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="input-group input-group-static">
                                        <label>Link Google</label>
                                        <input class="form-control" type="text" asp-for="link">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    <div class="input-group input-group-static">
                                        <label>Endereço</label>
                                        <textarea class="form-control" asp-for="endereco"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-end">
                                    <button type="submit" class="btn bg-gradient-primary btn-behance mt-3 mb-0">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>