@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Quero doar sangue, eu posso?</h1>
    <p>Aplicação interativa para descobrir possíveis doadores de sangue</p>
</div>
