@model UsuarioModel
@{
    ViewData["Title"] = "Início";
}

<!--CHAMADA-->
<header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('./img/hands-cupping-heart-in-love-and-relationship-concept.jpg') ">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5 text-border">
                        Ajude quem precisa
                    </h1>
                    <p class="lead text-white mt-3">
                        Doe sangue e salve vidas. <br />
                        Junte a milhares de doadores pelo brasil.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <!--ESTATÍSTICA-->
    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto py-3">
                    <div class="row">
                        <div class="col-md-6 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary">
                                    <span id="state2" countTo="15">@ViewBag.qtdInstituicoes</span>
                                </h1>
                                <h5 class="mt-3">Hemocentros</h5>
                                <p class="text-sm font-weight-normal">
                                    Catálogados em nosso sistema. <br />
                                    Busque um próximo a sua localização.
                                </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-6">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary" id="state3" countTo="4">@ViewBag.qtdUsuarios</h1>
                                <h5 class="mt-3">Doadores</h5>
                                <p class="text-sm font-weight-normal">
                                    Heróis que doam suas energias para salvar o próximo.<br />
                                    Faça parte deste grupo!

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--CORPO-->
    <section>
        <div class="container mt-sm-5 mt-3">
            <!--HISTÓRIAS-->
            <a id="historias"></a>
            <div class="row pt-lg-6">
                <div class="col-lg-3">
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                        <h3>Histórias</h3>
                        <h6 class="text-secondary font-weight-normal pe-3">
                            Conheça lindas histórias de quem transformou e teve a vida transformada.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!--NOTÍCIAS-->
                    <div class="row position-relative border-radius-xl overflow-hidden shadow-lg mt-5">
                        <div class="col-md-7 col-12 my-auto">
                            <h3>Histórias de superação marcam vida de quem é <strong class="text-gradient text-primary mb-0">doador de sangue</strong></h3>
                            <p class="pe-md-5 mb-4">
                                O hábito de doar sangue é lembrado em todo mundo nesta terça-feira, 14, data em que se comemora o Dia Mundial do Doador de Sangue. No Tocantins, são contabilizados aproximadamente 23 mil doadores de sangue que foram responsáveis por 28 transfusões hospitalares, em 2015.
                            </p>
                            <a href="https://www.to.gov.br/saude/noticias/historias-de-superacao-marcam-vida-de-quem-e-doador-de-sangue/79vcic1v3fex" target="_blank" class="text-primary icon-move-right">
                                Ler Mais
                                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-md-5 col-12 my-auto">
                            <a href="https://www.to.gov.br/saude/noticias/historias-de-superacao-marcam-vida-de-quem-e-doador-de-sangue/79vcic1v3fex" target="_blank">
                                <img class="w-100 border-radius-lg shadow-lg" src="https://central.to.gov.br/image/83879?w=883&h=505" alt=Benedito Rodrigues, conta que já realizou 112 doações de sangue">
                            </a>
                        </div>
                    </div>
                    <div class="row position-relative border-radius-xl overflow-hidden shadow-lg mt-5">
                        <div class="col-md-5 col-12 my-auto">
                            <a href="https://al.rr.leg.br/2020/06/14/conheca-a-historia-da-mulher-que-teve-a-vida-salva-por-uma-transfusao-de-sangue/" target="_blank">
                                <img class="w-100 border-radius-lg shadow-lg" src="https://al.rr.leg.br/wp-content/uploads/2020/06/Rose-Miranda-Receptora-de-sangue-1-300x200.jpg" alt=Benedito Rodrigues, conta que já realizou 112 doações de sangue">
                            </a>
                        </div>
                        <div class="col-md-7 col-12 my-auto">
                            <h3>Conheça a história da mulher que teve a vida salva por uma  <strong class="text-gradient text-primary mb-0">transfusão de sangue</strong></h3>
                            <p class="pe-md-5 mb-4">
                                A notícia veio no momento da internação. “O médico disse que eu precisaria de bolsas de sangue! Fiquei assustada, tive medo de reação, do meu corpo rejeitar, mas o médico me tranquilizou. No momento era o que tinha para me manter viva e me preparar para aquela cirurgia”.
                            </p>
                            <a href="https://al.rr.leg.br/2020/06/14/conheca-a-historia-da-mulher-que-teve-a-vida-salva-por-uma-transfusao-de-sangue/" target="_blank" class="text-primary icon-move-right">
                                Ler Mais
                                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!--SOBRE-->
            <a id="sobre"></a>
            <div class="row pt-lg-6">
                <div class="col-lg-3">
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                        <h3>Sobre</h3>
                        <h6 class="text-secondary font-weight-normal pe-3">Assita o vídeo abaixo:</h6>
                        <div class="col-12">
                            <iframe style="margin-left: -32px;" src="https://player.vimeo.com/video/748586173?h=956ad1b169" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align="middle"></iframe>
                        </div>
                        <br />
                        <h6 class="text-secondary font-weight-normal pe-3">Projeto Desenvolvido por:</h6>
                        <div class="col-12">
                            <div class="avatar-group">
                                <a href="https://www.linkedin.com/in/andre-felipe-gomes-64907b1b5/" target="_blank" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="André Felipe">
                                    <img alt="André Felipe" src="./img/andre.jpg">
                                </a>
                                <a href="https://www.linkedin.com/in/barbara-benedetti-93225819b/" target="_blank" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bárbara">
                                    <img alt="Bárbara" src="./img/barbara.jpg">
                                </a>
                                <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="JJ">
                                    <img alt="Jair Junio" src="./img/jair.jpg">
                                </a>
                                <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Luiz Eduardo">
                                    <img alt="Luiz Eduardo" src="./img/sem-foto.jpg">
                                </a><br />
                                <a href="https://www.linkedin.com/in/paolamarsura/" target="_blank" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Paola Marsura Verreschi">
                                    <img alt="Paola Marsura Verreschi" src="./img/paola.jpg">
                                </a>
                                <a href="https://www.linkedin.com/in/ridercantuaria/" target="_blank" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ríder Cantuária">
                                    <img alt="Ríder Cantuária" src="./img/rider.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row mt-3">
                        <!--TEXTO SOBRE-->
                        <div class="col-12">
                            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
                                <div class="container border-bottom">
                                    <div class="row justify-space-between py-2 m-3">
                                        <p><strong class="title">Caros amigos,</strong></p>
                                        <p>Este projeto foi desenvolvimento como requisito para conclusão da disciplina do curso de Análise e Desenvolvimento de Sistemas da PUC Minas e foi realizado pelo grupo 01 da turma 01 de 2022 - 2° semestre sobre a orientação da professora Rosilane  Ribeiro da Mota.</p>
                                        <p>Esta aplicação tem como objetivo promover a conscientização sobre a doação de sangue e ser um facilitador entre as instituições de banco de sangue de Minas Gerais e o potencial doador. Ao acessar a aplicação o usuário terá acesso a um formulário de requisitos que após ser respondido retornará para o usuário se o mesmo encontra-se apto, inapto ou inapto temporariamente para a doação de sangue. A aplicação também apresenta ao usuário a lista das instituições de banco de sangue cadastradas no estado de Minas Gerais.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--PARCEIROS-->
            <a id="parceiros"></a><br />
            <div class="row">
                <div class="col-lg-3">
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                        <h3>Parceiros</h3>
                        <h6 class="text-secondary font-weight-normal pe-3">
                            Aqueles que nos ajudaram tornar esse projeto realidade
                        </h6>
                    </div>
                </div>

                <div class="col-lg-9">

                    <div class="row mt-3  position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
                        <!--TEXTO SOBRE-->
                        <div class="col-9">
                            <div class="container border-bottom">
                                <div class="row justify-space-between py-2 m-3">
                                    <p><strong class="title">PUC MINAS.</strong></p>
                                    <p>Agradecemos a colaboração da Universidade que nos ajudou estruturalmente na condução deste projeto, fornecendo os meios necessários para a nossa educação e disponibilizando ferramentas de apoio.</p>
                                    <p>A nossa orientadora que acreditou no desenvolvimento deste projeto e aos monitores que muita paciência tiveram conosco.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <img src="./img/logo-puc-minas.jpg" class="img-fluid" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
