@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Login Sucesso</p>

<form asp-controller="Login" asp-action="ListaDeUsuarios" method="get">
    <button type="submit" class="btn btn-primary btn-block">Lista de Usuários</button>
</form>
