@model UsuarioModel
@{
    ViewData["Title"] = "Privacy";
}
<p>Usuário não cadastrado</p>

<form>
    <button type="submit" class="btn btn-primary btn-block" asp-controller="CadastroUsuario" asp-action="Criar" role="button">Cadastrar novo usuário</button>
</form>

