@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Usuário não cadastrado</p>


@*<form asp-controller="Login" asp-action="ListaDeUsuarios" method="get">
    <button type="submit" class="btn btn-primary btn-block">Lista de Usuários</button>
</form>*@
